<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    {% load markdown_deux_tags %}
    {% load thumbnail %}
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Amaranth:400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css' %}" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/960.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container_12">
        <div class="section profile">
            <div class="grid_2">
                {% thumbnail profile.image "200x200" crop="center" as im %}
                    <img src="{{ im.url }}" width="100%" alt="{{ profile.full_name }}">
                {% endthumbnail %}
            </div>
            <div class="grid_6">
                <h1>{{ profile.full_name }}</h1>

                {% if profile.about %}
                {{ profile.about|markdown }}
                {% endif %}

                {% if profile.contact %}
                <ul>
                    {% for contact in profile.contact.all %}
                    <li><a href="{{ contact.link }}">{{ contact.caption }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="grid_12">
            <h1>Projects</h1>
        </div>
        <div class="clear"></div>
        {% for group in groups %}
            <div class="grid_12">
                <h2>{{ group.title }}</h2>
                {% if group.description %}
                {{ group.description|markdown }}
                {% endif %}
            </div>
            <div class="clear"></div>
            {% for project in group.projects.all %}
            <div class="section">
                <div class="grid_8">
                    {% for image in project.images.all %}
                        {% thumbnail image.image "600" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ image.title }}">
                        {% endthumbnail %}
                        {% if image.title %}
                            <!--<small>{{ image.title }}</small>-->
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="grid_4">
                    <h3>{{ project.title }}</h3>

                    {{ project.description|markdown }}

                    {% if project.url %}
                    <p>
                        <a href="{{ project.url }}">{{ project.url }}</a>
                    </p>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>