{% extends 'layout.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="article">
     <div class="heading">
        <div class="title">
            {{ article.title }}
        </div>

         {% if article.categories %}
         <div class="categories">
         {% for cat in article.categories.all %}
            <span class="link">
                <i class="fa fa-link"></i>
                <a href="">{{ cat.title }}</a>
            </span>
         {% endfor %}
         </div>
         {% endif %}
    </div>

    <div class="text">
        {{ article.text|markdown }}
    </div>
</div>
{% endblock %}