{% extends 'layout.html' %}
{% load markup_tags %}
{% load thumbnail %}


{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<article>
     <header>
         <h1>{{ article.title }}</h1>
         {% if article.categories %}
         <nav class="categories">
         {% for cat in article.categories.all %}
            <span class="link">
                <i class="fa fa-link"></i>
                <a href="{% url 'blog-category' cat.uri %}">{{ cat.title }}</a>
            </span>
         {% endfor %}
         </nav>
         {% endif %}
    </header>
    <div class="text">
        {{ article.text|apply_markup:"textile" }}
    </div>
</article>
{% endblock %}