{% extends 'layout.html' %}
{% load markup_tags %}
{% load thumbnail %}

{% block meta_og_title %}{% if category %}{{ category.title }}{% else %}Blog{% endif%}{% endblock %}
{% block meta_og_description %}{% if category %}{{ category.description }}{% else %}Blog{% endif%}{% endblock %}
{% block meta_keywords %}{% if category %}{{ category.keywords }}{% endif%}{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="group">
    {% if user.is_superuser %}
    <a href="{% url 'admin:portfolio_article_add' %}" class="admin-edit"><i class="fa fa-pencil-square-o"></i></a>
    {% endif %}

    {% if category %}
    <header>
        <div class="line"></div>
        <h1>{{ category.title }}</h1>
        {% if category.description %}
        <div class="description">
            {{ category.description|apply_markup:"textile" }}
        </div>
        {% endif %}
    </header>
    {% endif %}

    <section class="articles">
    {% for article in articles %}
        {% include 'include/article_preview.html' %}
    {% endfor %}
    </section>
</section>
{% endblock %}
