{% extends 'layout.html' %}
{% load markup_tags %}
{% load thumbnail %}

{% block meta_og_title %}{{ group.title }}{% endblock %}
{% block meta_og_description %}{{ group.description }}{% endblock %}
{% block meta_keywords %}{{ group.keywords }}{% endblock %}

{% block title %}{{ group.title }}{% endblock %}

{% block content %}
<section class="group">
    <header>
        <div class="line"></div>
        <h1 class="title">{{ group.title }}</h1>
        {% if group.description %}
        <div class="description">
            {{ group.description|apply_markup:"textile" }}
        </div>
        {% endif %}
    </header>
    <section class="projects">
    {% for project in group.projects.active %}
        {% include 'include/project_preview.html' %}
    {% endfor %}
    </section>

    {% with group.articles.active as related %}
        {% include 'include/related_articles.html' %}
    {% endwith %}
</section>
{% endblock %}