{% extends 'layout.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}


{% block title %}{{ group.title }}{% endblock %}

{% block content %}
<div class="group">
    <div class="heading">
        <div class="line"></div>
        <div class="title">
            {{ group.title }}
        </div>
        {% if group.description %}
        <div class="description">
            {{ group.description|markdown }}
        </div>
        {% endif %}
    </div>
    <div class="projects">
    {% for project in group.projects.active %}
        <div class="project">
             <div class="heading">

                <div class="title">
                    <a href="{% url 'project-view' project.uri %}">{{ project.title }}</a>
                </div>
                <div class="sub">
                    {% if project.short_description %}
                    <div class="short_description">
                        {{ project.short_description }}
                    </div>
                    {% endif %}

                    {% if project.url %}
                    <div class="link">
                        <i class="fa fa-link"></i>
                        <a href="{{ project.url }}">{{ project.url }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if project.main_image %}
            <div class="main_image">
                {% thumbnail project.main_image.image "960" crop="center" format="PNG" as im %}
                <a href="{% url 'project-view' project.uri %}" title="{{ project.title }}">
                    <img src="{{ im.url }}" width="100%" alt="{{ image.title }}">
                </a>
                {% endthumbnail %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}