<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    {% load markdown_deux_tags %}
    {% load thumbnail %}
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <aside class="profile">
            <div class="image">
                {% thumbnail profile.image "150x150" crop="center" as im %}
                    <a href="/"><img src="{{ im.url }}" width="150px" alt="{{ profile.full_name }}"></a>
                {% endthumbnail %}
            </div>
            <header class="heading">
                <div class="name">
                    {{ profile.full_name }}
                </div>

                {% if profile.about %}
                <div class="about">
                    {{ profile.about|markdown }}
                </div>
                {% endif %}

                {% if profile.contact %}
                <nav class="contact">
                    {% for contact in profile.contact.all %}
                    <div class="contact_item">
                        {% if contact.icon %}
                        <i class="fa fa-{{ contact.icon }}"></i>
                        {% endif %}
                        <a href="{{ contact.link }}">{{ contact.verbose }}</a>
                    </div>
                    {% endfor %}
                </nav>
                {% endif %}
            </header>
            <nav>
                {% for group in groups %}
                    <div class="menu_item">
                        <a href="{% url 'group-view' group.uri %}">{{ group.title }}</a>
                    </div>
                {% endfor %}
                <div class="menu_item">
                    <a href="/printable">Portfolio</a>
                </div>
                <div class="menu_item">
                    <a href="/blog">Blog</a>
                </div>
            </nav>
        </aside>
        <main>
            {% block content %}Nothing here.{% endblock %}
        <main>
    </div>

    <script src="{% static 'js/main.js' %}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter41245009 = new Ya.Metrika({
                        id:41245009,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/41245009" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>