{% extends 'layout.html' %}
{% load markup_tags %}
{% load thumbnail %}
{% load static %}

{% block head %}
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" href="{% static 'css/printable.css' %}">
{% endblock %}

{% block title %}Printable{% endblock %}

{% block content %}
<section class="groups">
{% for group in groups %}
    <section class="group">
        <header>
            <div class="line"></div>
            <h1>{{ group.title }}</h1>
            {% if group.description %}
            <div class="description">
                {{ group.description|apply_markup:"textile" }}
            </div>
            {% endif %}
        </header>
        <section class="projects">
        {% for project in group.projects.active %}
            <article class="project">
                 <header>
                    <h1>{{ project.title }}</h1>
                    <div class="sub">
                        {% if project.short_description %}
                        <div class="short_description">
                            {{ project.short_description }}
                        </div>
                        {% endif %}

                        {% if project.url %}
                        <div class="link">
                            <i class="fa fa-link"></i>
                            <a href="{{ project.url }}">{{ project.url }}</a>
                        </div>
                        {% endif %}
                    </div>
                </header>

                {% if project.main_image %}
                <figure class="main_image">
                    {% thumbnail project.main_image.image "960" crop="center" format="PNG" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ image.title }}">
                    {% endthumbnail %}
                    {% if project.main_image.title %}
                    <figcaption>{{ project.main_image.title }}</figcaption>
                    {% endif %}
                </figure>
                {% endif %}

                <div class="content">
                    {% if project.description %}
                    <div class="description">
                        {{ project.description|apply_markup:"textile" }}
                    </div>
                    {% endif %}

                    {% with project.images.all|slice:'1:' as remaining_images %}
                    {% if remaining_images %}
                    <div class="images">
                        {% for image in remaining_images %}
                        <figure>
                            {% thumbnail image.image "540" crop="center" format="PNG" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" alt="{{ image.title }}">
                            {% endthumbnail %}
                            {% if image.title %}
                            <figcaption>{{ image.title }}</figcaption>
                            {% endif %}
                        </figure>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </article>
        {% endfor %}
        </section>
    </section>
{% endfor %}
</section>
{% endblock %}
