{% extends 'layout.html' %}
{% load markup_tags %}
{% load thumbnail %}

{% block meta_og_title %}{{ project.title }}{% endblock %}
{% block meta_og_description %}{{ project.short_description }}{% endblock %}
{% block meta_og_image %}
    {% thumbnail project.main_image.image "400" crop="center" format="PNG" as im %}
       {{ im.url }}
    {% endthumbnail %}
{% endblock %}
{% block meta_keywords %}{% for tag in project.tags.all %}{{ tag.name }}, {% endfor %}{% if group %}{{ group.keywords }}{% endif %}{% endblock %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<article class="project">
     <header class="heading">
        <h1>{{ project.title }}</h1>
        <div class="sub">
            {% if project.short_description %}
            <div class="short_description">
                {{ project.short_description }}
            </div>
            {% endif %}

            {% if project.url %}
            <div class="link">
                <i class="fa fa-link"></i>
                <a href="{{ project.url }}">{{ project.url }}</a>
            </div>
            {% endif %}
        </div>
    </header>

    {% if project.main_image %}
    <figure class="main_image">
        {% thumbnail project.main_image.image "960" crop="center" format="PNG" as im %}
        <a href="{{ project.main_image.image.url }}" title="{{ image.title }}">
            <img src="{{ im.url }}" width="100%" alt="{{ image.title }}">
        </a>
        {% endthumbnail %}
        {% if project.main_image.title %}
        <figcaption class="image_caption">{{ project.main_image.title }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

    <div class="content">
        {% if project.description %}
        <div class="description">
            {{ project.description|apply_markup:"textile" }}
        </div>
        {% endif %}

        {% with project.images.all|slice:'1:' as remaining_images %}
        {% if remaining_images %}
        <section class="images">
            {% for image in remaining_images %}
            <figure>
                {% thumbnail image.image "960" crop="center" format="PNG" as im %}
                <a href="{{ image.image.url }}"><img src="{{ im.url }}" width="100%" alt="{{ image.title }}"></a>
                {% endthumbnail %}
                {% if image.title %}
                <figcaption>{{ image.title }}</figcaption>
                {% endif %}
            </figure>
            {% endfor %}
        </section>
        {% endif %}
        {% endwith %}
    </div>
</article>
{% endblock %}