.container {
    flex-flow: column;
}

main {
    margin-top: 0 !important;
}

.profile {
    min-width: 100%;
    width: 100%;
    margin-right: 0;
}

.profile .image {
    margin-right: 30px;
    float: left;
}

.profile .about,
.profile .contact {
    max-width: 100% !important;
}

.profile .contact {
    display: flex;
    flex-flow: row wrap;
}

nav {
    /* HIDE MENU IN PRINTABLE VERSION */
    display: none;
}

.container > main {
    width: 100%;
    min-width: 100%;
    padding-top: 0px;
}

.group > header {
    text-align: center;
}

.group > header > .description {
    max-width: 500px;
    text-align: center;
}

.group > header > .title {
    font-size: 2em;
    background: white;
    padding: 0 20px;
    display: inline-block;
}

.project > .content {
    display: flex;
    flex: row;
}

.project > .content > .description {
    max-width: 400px;
    margin-right: 20px;
}

.project > .content > .images {
    max-width: 540px;
}

.project > header > .sub  {
    display: flex;
    justify-content: space-between;
}

.project > header > .sub > .link {
    margin-top: 0;
    vertical-align: bottom;
    text-align: right;
}