body {
    font-family: 'PT Sans';
    font-size: 16px;
    color: #0d2636;
}

.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;

    /*flex-flow: row wrap;
    justify-content: center;*/

    justify-content: space-between;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

aside {
    min-width: 230px;
    width: 230px;
    /*margin-top: 10px;*/
    -webkit-order: 1;
    order: 1;
}

.container > main {
    max-width: 680px;
    -webkit-order: 2;
    order: 2;
    margin-top: 60px;
}

@media all and (max-width: 640px) {
    .container {
         -webkit-flex-flow: column;
         flex-flow: column;
    }

    .profile {
        width: 100%;
        text-align: center;
    }

    .profile > header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: stretch;
    }

    .profile .image {
        /*flex: 1 1 auto;*/
        text-align: center;
        margin-right: 10px;
    }

    .profile .image img {
        width: 50px;
    }

    .profile .name {
        /*flex: 3 1 auto;*/
        margin-top: 10px !important;
    }

    .profile .about {
        flex: 3 1 auto;
        font-size: small;
    }

    .profile .contact {
        display: none;
    }

    aside nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-flow: row wrap;
        margin-top: 10px !important;
    }

    .menu_item {
        margin: 4px 5px !important;
    }

    main {
        margin-top: 30px !important;
    }
}


h1, h2, h3 {
    color: #111;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
    line-height: 1.5em;
}

ul {
    list-style: disc;
}

ul > li
{
    margin-left: 20px;
    margin-bottom: 0.5em;
}

small {
    font-size: 0.8em;
    color: #666;
}

.tag {
    background: #EEE;
    border-radius: 4px;
    padding: 2px 5px;
}

a {
	color: #0d2636;
}

a:hover {
	color: red;
}

code:parent {
    padding: 50px;
}

code {
    display:block;
    padding: 1em !important;
    background: #EFEFEF;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 10px 0;
    overflow-x: auto;
}

.full-width {
    width: 100%;
}

.video {
    display: block;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    margin: 0px;
}

.video > iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.more-link {
    display: block;
    margin-top: 1em;
}

.text p {
    margin-bottom: 1em;
}

.cut img,
.text img {
    max-width: 100%;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div {
    -moz-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box; /* Ширина блока с полями */
}

.admin-edit {
    color: #ccc;
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

.admin-edit : hover {
    color: black;
}


/* PROFILE */
.profile {
}

.profile .image {
}

.profile .image img {
    border-radius: 100%;
}

.profile header {
    padding-top: 20px;
}

.profile header .about {
    margin-top: 0.5em;
    max-width: 400px;
}

.profile header .about p {
    line-height: 1.25em;
}

.profile header .name {
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

.profile header .contact {
    margin-top: 1em;
}

.contact .contact_item {
    margin-right: 20px;
    margin-bottom: 1em;
}

.profile nav {
    margin-top: 50px;
}

nav .menu_item {
    margin-bottom: 1em;
    font-size: 1.2em;
}

/* EOF PROFILE */

.groups {
    margin-top: 50px;
}

.group > header {
    margin-bottom: 40px;
}

.group > header > .line {
    position: relative;
    border-bottom: 1px solid black;
    top: 20px;
    z-index: -10;
}

.group > header > .description {
    margin: 10px auto 0 auto;
}

.group> header > h1 {
    font-size: 2em;
    background: white;
    padding-right: 20px;
    display: inline-block;
}

.project {
    margin-bottom: 50px;
    /*page-break-inside: avoid;*/
}

.project > header  {
    margin-bottom: 30px;
}

.project > header > .sub  {
}

.project > header > h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 600px;
}

.project > header > .sub > .short_description {
    max-width: 500px;
    line-height: 1.5em;
}

.project > header > .sub > .link {
    margin-top: 10px;
}

.project > .main_image {
    margin-bottom: 20px;
}

.project > .content {
}

.project > .content > .description {
}

.project > .content > .images {
}

.project > .content > .description p {
    margin-bottom: 1em;
}

figcaption {
    /*display: inline-block;*/
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 8px auto 10px;
}

/* BLOG */
.articles {
}

.articles > article {
    margin-bottom: 3em;
}

article > header {
    margin-bottom: 10px;
}

article > header > h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0 15px 0;
    max-width: 600px;
}

article > header > .categories {
    margin-bottom: 10px;
}

article > .cut {
}

article > .text {
}

article > .comments {
    margin-top: 10px;
}
/* EOF BLOG */

.highlight {
    margin-bottom: 2.5em;
}

.highlight h1 {
    margin-bottom: 0.5em;
}

.highlight .group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    display:block;
    width: 200px;
    text-decoration: none;
    margin: 10px;
}

.card h3 {
    margin: 5px 0 !important;
}
